{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>The Worlds Largest Hub of Technology Learning -  Teklrn Inc.</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
   	<script src="{% static 'forms/js/main.js' %}"></script>
	<script src="{% static 'new/js/checkout.js' %}"></script>
    <script src="{% static 'forms/vendor/jquery/jquery-3.2.1.min.js' %}"></script>

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'forms/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/main.css' %}">
<!--===============================================================================================-->
<style>
	  @font-face {
  			font-family: 'Antietam';
  			font-style: normal;
  			font-weight: normal;
			src: url("{% static 'fonts/antietam-font/AntietamTitle-lvjX.otf' %}") format("opentype");
			}

	</style>
</head>
<body>
	<p id="technology_view" hidden>{{course}}</p>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form  class="login100-form validate-form" onsubmit="paymentPage(event)">
				<span class="contact100-form-title">
					<div style="text-align: center;"><img src="/static/image/images/banner3.jpg" alt="TEKLRN" width="250" height="75"></div>
				</span>

					<span class="login100-form-title p-b-26">
						
					</span>
					<span class="login100-form-title p-b-26">
						
					</span>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<label for="amount" style="margin-bottom: 0px !important; padding-left: 5px; color: darkgrey;">Business Email </label>
						<input class="input100" readonly value="{{request.user.email}}" type="email" name="email" required>
						<span class="focus-input100"></span>
					</div>
                    <div id="checkout_list"></div>
					<br/>
				<div class="wrap-input100 validate-input" data-validate="Enter Website Link">
					<label for="amount" style="margin-bottom: 0px !important; padding-left: 5px; color: darkgrey;">Count</label>					<input class="input100" type="text" id="items" name="items"  value="{{request.session.count}}" required>
					<span class="focus-input100"></span>
				</div>
				<div  class="wrap-input100 validate-input" data-validate="Enter Website Link">
					<label for="amount" style="margin-bottom: 0px !important; padding-left: 5px; color: darkgrey;">Total (CAD)</label>
					<input class="input100" type="text" id="amount" name="amount" value="{{request.session.amount}}" required>
					<span class="focus-input100"></span>
				</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button style="background: black;"  type="submit" id="email_enter"  class="login100-form-btn">
								Checkout
							</button>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button style="background: #3a69bb;"  type="button" id="email_enter" onclick="addAds(event)"   class="login100-form-btn">
								Back 
							</button>
						</div>
					</div>
					<div style="margin-top:20px !important; border-bottom: none;text-align: center;" class="wrap-input100 validate-input">
						<span class="label-input100" style="font-size: 10px;
						margin: 0 0 16px;">By tapping Checkout, you agree to our<a style="font-size: 10px;
						margin: 0 0 16px; color: dodgerblue;" href="/privacy" > <u>Terms</u></a> and <a style="font-size: 10px;
						margin: 0 0 16px; color: dodgerblue;" href="/privacy">  <u>Privacy Policy and Cookies</u></a>.
						</span>						
					</div>
				</form>
			</div>

        </div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'forms/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'forms/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/js/main.js' %}"></script>


</body>
</html>

