{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Teklrn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all"/>
    
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/dist/attention.css' %}" type="text/css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/dist/attention.js' %}"></script>
    <script src="{% static 'js/landing.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>TEKLRN</h3>
            </div>

            <ul class="list-unstyled components">
                 <ul class="list-unstyled CTAs">
               <!-- <li>
                    <input  name="course-search" id="course-search" class="form-control" placeholder="Enter Course">
                </li> -->
                
            </ul>
                
                

                </li>
  <li>
                    <a href="#businesswithteklrn">Career with Teklrn</a>
                </li> 
            </ul>

           
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
							<li class="nav-item">
                                <a class="nav-link" href="/"> Home </a>
                            </li>
							<li class="nav-item">
                                <a class="nav-link" href="/"> Contact </a>
                            </li>
                            </li>
							<li class="nav-item">
                                <a class="nav-link" href="/"> About </a>
                            </li>
							<li class="nav-item">
                                <a class="nav-link" href="#">  </a>
                            </li>
                            <li class="nav-item">
                                <button id="book_course" type="button"  class="btn btn-info new-alert"> <span>Book Course</span>
                                </button>
                            </li>
							<li class="nav-item">
                                <a class="nav-link" href="#">  </a>
                            </li>

                            <li class="nav-item">
                                <button id="login_l" type="button" id="sidebarCollapse" class="btn btn-info"> <span>Learner Login</span>
                                </button>
                            </li>
							<li class="nav-item">
                                <a class="nav-link" href="#">  </a>
                            </li>
							
                            <li class="nav-item">
                                 <button id="login_t" type="button" id="sidebarCollapse" class="btn btn-info"> <span>Trainer Login</span>
                                </button>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </nav>
          
 <div id="content" class="p-4 p-md-5 pt-5">

        <div id="businesswithteklrn">
		 <h1 style='box-sizing: border-box; margin-top: 21px; margin-bottom: 10.5px; font-family: "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol"; font-weight: 400; line-height: 1.1; color: rgb(41, 48, 59); font-size: 1.5em; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; text-align: start; background-color: rgb(255, 255, 255);'>Career with Teklrn</h1>
                <p style='box-sizing: border-box; margin: 0px 0px 10.5px; font-family: "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol"; font-size: 15px; font-weight: 400; line-height: 1.7em; color: rgb(41, 48, 59); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; text-align: start; background-color: rgb(255, 255, 255);'><i style="box-sizing: border-box;">Career with Teklrn (<strong style="box-sizing: border-box; font-weight: 700;">&quot;Terms&quot;</strong>) were last updated on August 3, 2020.</i></p>
                <p style='box-sizing: border-box; margin: 0px 0px 10.5px; font-family: "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol"; font-size: 15px; font-weight: 400; line-height: 1.7em; color: rgb(41, 48, 59); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; text-align: start; background-color: rgb(255, 255, 255);'>Email your resumes to careers@teklrn.com eligible candiadates will be conatacted within thirty working days.</p>
         
		</div>
      </div>
 
           </div>
    </div>

   <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

        document.querySelector('.new-alert').addEventListener('click', function() {
                new Attention.Alert({
                    title: 'Missing Information',
                    content: 'Enter a course in the search box and select a level review the syllabus of the level before you proceed with booking',

                        
                });
            });
    </script>
</body>

</html>