{% load static %}
<!doctype html>
<html lang="en">
  <head>
        <style>
        .loader {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url('/static/image/images/loading.gif') 50% 50% no-repeat rgb(255, 255, 255);
}
    </style>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><script src="{% static 'new/js/kit.js' %}"></script> 
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'new/css/style.robo.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'new/css/style.pop.css' %}" type="text/css" />
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.4.456/build/pdf.min.js"></script>  
     <script src="{% static 'new/js/solid.js' %}"></script> 
    <script src="{% static 'new/js/solid.min.js' %}"></script> 

    <link rel="stylesheet"  href="{% static 'new/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stackpath.css' %}" type="text/css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'new/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'new/css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/dist/attention.css' %}" type="text/css" />    
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css" />
    
    
    <link type="text/css" rel="stylesheet" href="{% static 'css/magicscroll.css' %}" media="screen"/>

    <title>{{technology_desc}}</title>
    <meta name="description" content="Latest Technologies - {{technology_desc}}"/> 
    <style>
      
      #mgc a{
  visibility: hidden;
}
        
        @font-face {
  			font-family: 'Antietam';
  			font-style: normal;
  			font-weight: normal;
			src: url("{% static 'fonts/antietam-font/AntietamTitle-lvjX.otf' %}") format("opentype");
			}

    </style>

  </head>
  <body style="background-color: #fafafa !important; box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);">
    <div class="loader"></div>  
    <p id="technology_view" hidden>{{technology}}</p>
    <p id="lvl_view" hidden>{{lvl}}</p>
    <p id="technology_contentType" hidden>{{contentType}}</p>
  
    
    <aside class="sidebar">
      <div class="toggle" style="padding-top: 5px !important;">
        <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
              <span></span>
            </a>
      </div>
      <div class="side-inner">

        <div onclick="login_l(event, course_name)" class="profile">
          <img src="/static/image/images/{{technology}}_icon.png" style="width: 200px;height: 150px;" alt="Image" class="img-fluid">
          <img src="/static/image/images/play_b2.png" style="left: 50%; transform: translate(-00%, -210%);
          -ms-transform: translate(-50%, -50%);
          /* background-color: #6589c5; */
          /* color: white; */
          font-size: 16px;
          padding: 5px 15px;
          border: none;
          cursor: pointer;
          /* border-radius: 15px; */
          text-align: center;">
          <h3 class="name">Learner Login</h3>
          <span class="country">New York, USA</span>
        </div>

        <div class="counter d-flex justify-content-center">
          <!-- <div class="row justify-content-center"> -->
            <div class="col">
              <strong class="number">800</strong>
              <span class="number-label">Users</span>
            </div>
            <div class="col">
              <strong class="number">700</strong>
              <span class="number-label">Followers</span>
            </div>
            <div class="col">
              <strong class="number">80</strong>
              <span class="number-label">Topics</span>
            </div>
          <!-- </div> -->
        </div>
        
        <div class="nav-menu">
          <ul id="navig_side">
                </ul>
        </div>
      </div>
      
    </aside>
    
    <main style="background-color: white !important;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 111;position: fixed; width: 100%; top: 0; padding-left: 25%;padding-top: 0px; padding-bottom:0px !important;background-color: white !important;">
                <div class="container-fluid">
                 <input onclick="doLaunch(event)" type="text" name="course-search" id="course-search" class="form-control" placeholder="" style="width: 15%; text-transform: uppercase; font-weight: bolder; font-family: 'Font Awesome 5 Free';">
                 <a style="font-size: 1.0rem;font-family: Antietam;color: #629dd1;"><img src="/static/image/images/banner3.jpg" alt="TEKLRN" width="200" height="65">  </a>
                   </div>
            </nav>
     
      <div style="margin-top:10px;" style="padding: 1rem 0;" class="site-section">
        
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div id="rowdata" class="row">
               
             
                 
                </div>
              </div>
            </div>


          </div>
        </div>
      <div id="mgc" class="MagicScroll" data-options="mode: cover-flow; height: 135px;" style="background-color: #3f6fcb;position: fixed; bottom: 0;">
        <div class="mcs-item" data-item="0" style="width: 24.3716%; position: absolute; transform: translate3d(-451.95px, 0px, -350px) rotateX(0deg) rotateY(60deg); z-index: 31512;"><div onclick="gotoTechnology('Carbon Capture Technology')" style="opacity: 1; visibility: visible;"><img src="/static/image/images/poster_video.jpg" style="z-index: 100;"></div><canvas width="312" height="52" class="mcs-reflection" style="opacity: 1; top: 175px; left: 0px; width: 312px; transition: opacity 1000ms ease 0s;"></canvas></div>
        <div class="mcs-item" data-item="1" style="width: 24.3716%; position: absolute; transform: translate3d(-295.95px, 0px, -350px) rotateX(0deg) rotateY(60deg); z-index: 31668;"><div onclick="gotoTechnology('Ship Design Technology')" style="opacity: 1; visibility: visible;"><img src="/static/image/images/poster_video.jpg" style="z-index: 100;"></div><canvas width="312" height="52" class="mcs-reflection" style="opacity: 1; top: 175px; left: 0px; width: 312px; transition: opacity 1000ms ease 0s;"></canvas></div>
        
    </div> 
    </main>
    <script src="{% static 'new/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'new/js/popper.min.js' %}"></script>
    <script src="{% static 'new/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'new/js/main.js' %}"></script>    
    <script src="{% static 'new/js/hi.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/magicscroll.js' %}"></script>
   
<script>
  pdfjsLib.getDocument('./static/image/Html_6.pdf').promise.then(doc =>{
      console.log("This file has "+doc._pdfInfo.numPages + " pages");

      doc.getPage(1).then(page =>{
          var myCanvas = document.getElementById("my_canvas");
          var context =  myCanvas.getContext("2d");

          var viewport = page.getViewport({scale:1.5});
          myCanvas.width = viewport.width;
          myCanvas.height = viewport.height;
          page.render({
              canvasContext:context,
              viewport:viewport
          });
      });
  });
</script>
<script>
  $(window).ready(function(){  
           $('.loader').fadeOut();  
       });
       </script> 
       
  </body>
</html>