{% load static %}
<!DOCTYPE html>
<html>

   <head>

    <style>

.iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* spacing as needed */
  padding: 20px 50px 20px 20px;

  /* let it scroll */
  overflow: auto;
}

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Teklrn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all"/>
    --><link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css" />
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="{% static 'css/stackpath.css' %}" type="text/css" />
     <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/dist/attention.css' %}" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.4.456/build/pdf.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/dist/attention.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
    
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Teklrn Inc.
               <!-- <h4 style="font-size: 5px;"><i>An Akhil Vijayan Enterprise</i></h4></h3>
         -->   </div>

            <ul class="list-unstyled components">
                 <ul class="list-unstyled CTAs">
                <li>
                    <input  name="course-search" id="course-search" class="form-control" placeholder="Enter Course">
                </li>
                
            </ul>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Levels</a>
                    <ul  class="collapse show list-unstyled" id="homeSubmenu">
                        
                    </ul>
                </li>
                
</ul>

           
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
							<li class="nav-item">
                                <a class="nav-link" href="/"> Home </a>
                            </li>
							<!--<li class="nav-item">
                                <a class="nav-link" href="/"> Contact </a>
                            </li>
                            </li>
							<li class="nav-item">
                                <a class="nav-link" href="/"> About </a>
                            </li> -->
							<li class="nav-item">
                                <a class="nav-link" href="#">  </a>
                            </li>
                           <!-- <li class="nav-item">
                                <button id="book_course" type="button"  class="btn btn-info new-alert" onclick="bookCrseClick(event)"> <span>Book Course</span>
                                </button>
                            </li>-->
							<li class="nav-item">
                                <a class="nav-link" href="#">  </a>
                            </li>

                            <li class="nav-item">
                                <button id="login_l1" type="submit" class="btn btn-info" onclick="login_l(event)"> <span>Learner Login</span>
                                </button>
                            </li>
							<li class="nav-item">
                                <a class="nav-link" href="#">  </a>
                            </li>
							
                            <li class="nav-item">
                                 <button id="login_t1" type="submit" class="btn btn-info" onclick="login_t(event)"> <span>Trainer Login</span>
                                </button>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </nav>
          
<!--<iframe id="course-pdf" src="static/image/Html_6.pdf"  style="width : 100%; height : 100%;"></iframe> -->
<!--<canvas id="my_canvas" style="width : 100%; max-height: 70%;"></canvas> -->

<h2>Guidelines for Learners to use the Teklrn Application</h2>
<p></p>
<p>1. Enter the Technolog in the Search bar</p>

<p>2. Select the course</p>
<p>3. View Syllabus for the level by clicking the View Syllabus Button</p>
<p>4. Book the course for the Level using the Book Button</p>

<div class="line"></div>

<h2>Guidelines for Creating Teklrn Learners account</h2>
<p></p>
<p>1. Select the Learner Login Button</p>
<p>2. Follow the Instructions on the form</p>
<p>3. A Learner who booked a course will be notified via email when a Trainer accepts the course. In the event of non acceptance beyond the date of booking the Student will be reimbursed or guided to provide another date. Our systems are busy and sometimes all bookings may not be accepted by the trainers.</p>
<p>4. After successful copletetion of a course the trainer will guide you to mark the course to completion. Mark it as complate when all the topics in the level for the technology have been completd by the trainer to your satisfaction.</p>

<div class="line"></div>

<h2>Guidelines for Creating Teklrn Trainer account</h2>
<p></p>
<p>1. Select the Trainer Login Button</p>
<p>2. Follow the Instructions on the form</p>
<p>3. A trainer Registration completes once the Teklrn backend team verifies the Trainer credidibility performing the interview process. You wont be able to login to the account unless the account is verified on which you will be notified via email</p>
<p>4. One trainer account can include only a single technology. For multiple technologies we request you to craete multiple accounts</p>
<p>5. Trainers must provide a valid Zoom Meeting id in the format mentoned in the rgistration page.</p>
<p>6. A course by trainer is accepted complete when the Stdent marks the course as complete after the session. Its the responsibility of the Trainer to guide the Student to mark the course as complete. A course not marked complete will not result in a payment to the trainer.</p>
<p>7. Trainers will be provided guidelines in detail once their profile is accepted after an interview</p>
<p>8. Teklrn expects very high quality technology training from its registered Trainers. </p>
<div class="line"></div>


</div>
</div>


<script>
    pdfjsLib.getDocument('./static/image/Html_6.pdf').promise.then(doc =>{
        console.log("This file has "+doc._pdfInfo.numPages + " pages");

        doc.getPage(1).then(page =>{
            var myCanvas = document.getElementById("my_canvas");
            var context =  myCanvas.getContext("2d");

            var viewport = page.getViewport({scale:1.5});
            myCanvas.width = viewport.width;
            myCanvas.height = viewport.height;
            page.render({
                canvasContext:context,
                viewport:viewport
            });
        });
    });

</script>
           </div>
    </div>

   <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

        document.querySelector('.new-alert').addEventListener('click', function() {
                    new Attention.Alert({
                        title: 'Missing Information',
                        content: 'Enter a course in the search box and select a level review the syllabus of the level before you proceed with booking',

                            
                    });
            });
    </script>
</body>

</html>