{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" type="text/css" />
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.4.456/build/pdf.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <script src="{% static 'js/modal.js' %}"></script>  
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/dist/attention.css' %}" type="text/css" />
    <script src="{% static 'js/dist/attention.js' %}"></script>
    <script  src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>

    <link rel="stylesheet"  href="{% static 'new/fonts/icomoon/style.css' %}">

    <link rel="stylesheet"  href="{% static 'new/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stackpath.css' %}" type="text/css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'new/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'new/css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/dist/attention.css' %}" type="text/css" />    
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css" />

    <title>The Worlds Largest Hub of Technology Learning -  Teklrn Inc.</title>
    <style>
        
        @font-face {
  			font-family: 'Antietam';
  			font-style: normal;
  			font-weight: normal;
			src: url("{% static 'fonts/antietam-font/AntietamTitle-lvjX.otf' %}") format("opentype");
			}

    </style>
  </head>
  <body style="background-color: #fafafa !important; box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);">
    {% if user.is_authenticated %}
    <p id="technology_view" hidden>{{technology}}</p>
    <p id="technology_contentType" hidden>{{contentType}}</p>
  
    
    <aside class="sidebar">
      <div class="toggle">
        <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
              <span></span>
            </a>
      </div>
      <div class="side-inner">

        <div onclick="login_l(event, course_name)" class="profile">
          <img src="{% static 'new/images/person_profile.jpg' %}" alt="Image" class="img-fluid">
          <h3 class="name">{{user.first_name}}</h3>
          <span class="country">New York, USA</span>
        </div>

        <div class="counter d-flex justify-content-center">
          <!-- <div class="row justify-content-center"> -->
            <div class="col">
              <strong class="number">800</strong>
              <span class="number-label">Users</span>
            </div>
            <div class="col">
              <strong class="number">700</strong>
              <span class="number-label">Followers</span>
            </div>
            <div class="col">
              <strong class="number">80</strong>
              <span class="number-label">Topics</span>
            </div>
          <!-- </div> -->
        </div>
        
        <div class="nav-menu">
          <ul id="navig_side">
          </ul>
        </div>
      </div>
      
    </aside>
    <main>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 25%;padding-top: 30px;">
                <div class="container-fluid">
                 <input onclick="doLaunch(event)" type="text" name="course-search" id="course-search" class="form-control" placeholder="" style="width: 25%; text-transform: uppercase; font-weight: bolder; font-family: 'Font Awesome 5 Free';">
                 <a style="padding-right:10%; font-size: 1.0rem;font-family: Antietam;color: #629dd1;"><img src="static/image/images/2.png" alt="TEKLRN" width="25" height="20"> teklrn </a>
                   </div>
            </nav>
     
      <div style="padding: 1rem 0;" class="site-section">
        
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div id="rowdata" class="row">
               
             
                 
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>  
    </main>
    
    

    <script src="{% static 'new/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'new/js/popper.min.js' %}"></script>
    <script src="{% static 'new/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'new/js/main.js' %}"></script>
    <script src="{% static 'new/js/hi_login.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

        document.querySelector('.new-alert').addEventListener('click', function() {
                    new Attention.Alert({
                        title: 'Missing Information',
                        content: 'Enter a course in the search box and select a level review the syllabus of the level before you proceed with booking',

                            
                    });
            });

        
            </script>
    
<script>
  pdfjsLib.getDocument('./static/image/Html_6.pdf').promise.then(doc =>{
      console.log("This file has "+doc._pdfInfo.numPages + " pages");

      doc.getPage(1).then(page =>{
          var myCanvas = document.getElementById("my_canvas");
          var context =  myCanvas.getContext("2d");

          var viewport = page.getViewport({scale:1.5});
          myCanvas.width = viewport.width;
          myCanvas.height = viewport.height;
          page.render({
              canvasContext:context,
              viewport:viewport
          });
      });
  });

</script>
{% endif %}
  </body>
</html>