{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>TEKLRN</title>
		<link rel="icon" href="{% static 'image/images/favicon.ico' %}">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=0.76, maximum-scale=0.76, minimum-scale=0.76">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-layers.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
		<script src="{% static 'js/home.js' %}"></script>
		<noscript>
			<link rel="stylesheet" href="{% static 'css/skel.css' %}" type="text/css" />
			<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
			<link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}" type="text/css" />
		</noscript>	
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="#">TEKLRN</a></h1>
				<nav id="nav">
					<ul>
							<li><a href="/">Home</a></li>
						<li><a href="#cont">Contact</a></li>
						<li><a href="#one">About</a></li>
						<li><a href="#three">Refrences</a></li>
						<li><a href="#" id="launch" onclick="doLaunch(event)" class="button special">Get Started</a></li>
					</ul>
				</nav>
			</header>
			
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<!--<h2 href="#" style="height: 2%; width: 2%;" class="image fit"><img src="static/image/images/favicon.ico" alt="" /></h2>-->
				<h2>TEKLRN</h2>
				
					<!--<img src="static/image/images/icon_tek.png"></img>-->
					<p style="color: white;">The Worlds Largest Hub of Technology Learning</p>
					<!--<p style="color: lightyellow; font-size: medium;">We intend to partner with major UNIVERSITIES in US and CANADA and with the Software Industry at large.</p>
					<p style="color: lightyellow; font-size: medium;">With Over 300 Highly Certified and Experienced Freelance Trainers we are the Fastest Growing e-Learning Platform in the World</p>
					-->
					
					<ul class="actions">
						<li><a href="#content" id="launch1" onclick="doLaunch(event)" class="button big special">Get Started</a></li>
						<li><a href="#content" id="launch1" onclick="login_t(event)" class="button big alt">Freelance Trainer</a></li>
						<li><a href="#one" onclick="login_l(event)" class="button big alt">Learner Login</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<header class="major">
					<h2><img src="static/image/images/2.png" alt="TEKLRN" width="35" height="25">   Technology Learning at TEKLRN</h2>
					<p>Delivers Software, IT Technology Training, Video Courses, Options to Book Trainer</p>
				</header>
				<div class="container">
					<div class="row">
						<div class="4u">
							<section class="special box">
								<i class="icon fa-area-chart major"></i>
								<h3>Technology Training Content</h3>
								<p style="text-align: left;">Teklrn maintains the latest, up-to-date data, on every technology training content it delivers. With our staff working round to the clock to update every content with latest release of software and removing obsolete data. This way we ensure our software technology training courses provide the highest value to the learners/customers.
								</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-refresh major"></i>
								<h3>Video and Live Trainer Sessions</h3>
								<p style="text-align: left;">Software/IT technology training courses are offered in the form video training content and with the option to book trainer for one-to-one live sessions.
									Most technology training content has a set of free training video content, that explains the initial basics of the programming language / technology and set up on operating system. </p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-cog major"></i>
								<h3>Teklrns approach to training</h3>
								<p style="text-align: left;">Software/Programming languages are divided into levels. All the video courses are based on the syllabus for that level, the topics are explained by running the software in a live Operating System (Windows/UNIX) and server environment. Syllabus for each level is freely accessible on our website. That aids deciding the level to book.</p>
							</section>
						</div>
					</div>
				</div>
			</section>
			
		<!-- Two -->
			<section id="two" class="wrapper style2">
				<header class="major">
					<h2>Software / IT Technologies in Demand</h2>
					<p>The top technology training courses booked at Teklrn Inc.</p>
				</header>
				<div class="container">
					<div class="row">
						<div class="6u">
							<section class="special">
								<a href="#" class="image fit"><img src="static/image/images/pic01.jpg" alt="" /></a>
								<h3>Java  ( Programming Language )</h3>
								<p>Stable release Java SE 15 / September 15, 2020</p>
								<ul class="actions">
									<li><a href="?technology=Java"  class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="6u">
							<section class="special">
								<a href="#" class="image fit"><img src="static/image/images/pic02.jpg" alt="" /></a>
								<h3>Python ( Programming Language )</h3>
								<p>Python 3.9.1 / 7 December 2020</p>
								<ul class="actions">
									<li><a href="?technology=Python"  class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="6u">
							<section class="special">
								<a href="#" class="image fit"><img src="static/image/images/pic01Docker.png" alt="" /></a>
								<h3>Docker ( Software )</h3>
								<p>The latest stable release 19.03.14 /  December 1, 2020 </p>
								<ul class="actions">
									<li><a href="?technology=Docker"class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="6u">
							<section class="special">
								<a href="#" class="image fit"><img src="static/image/images/pic01Kub.png" alt="" /></a>
								<h3>Kubernetes (  Software )</h3>
								<p>Latest stable release 1.20 / December 8, 2020 </p>
								<ul class="actions">
									<li><a href="?technology=Kubernetes"   class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="6u">
							<section class="special">
								<a href="#" class="image fit"><img src="static/image/images/pic01Spring.jpg" alt="" /></a>
								<h3>Spring ( Software Framework )</h3>
								<p>Stable release 5.3.1 / 10 November 2020 </p>
								<ul class="actions">
									<li><a href="?technology=Spring"   class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="6u">
							<section class="special">
								<a href="#" class="image fit"><img src="static/image/images/pic01tensorflow.png" alt="" /></a>
								<h3>TensorFlow ( Software Library )</h3>
								<p>Stable release 2.3.1 / September 24, 2020</p>
								<ul class="actions">
									<li><a href="?technology=Tensorflow"    class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="8u">
							<section>
								<h2>Whom our courses benefit</h2>
								<a href="#" class="image fit"><img src="static/image/images/pic03.jpg" alt="" /></a>
								<p>Beginners,  with no software programming experience (recommended approach is to start from level 1 of the technology). Experienced professional, who want to learn new technology (recommended approach is to start with level 1 and reach the level required for their need. It’s advised to read the syllabus of each level to decide what to learn). Highly skilled professionals who want to learn higher level of the technology they already know(recommended approach is to check the levels and figure out the level they want to start learning and book the courses)</p>
							</section>
						</div>
						<div class="4u">
							<section>
								<h3>Technology learning with teklrn </h3>
								<p>Click the button "Get Started" on the home gage. Enter the technology on the search box and select the option from the list. Browse through the syllabus of each level. Check the free video training content for each technology, for higher levels follow the instructions to access video content or to book a 1-to-1 session with trainer.</p>
								<ul class="actions">
									<li><a href=""  onclick="doLaunch(event)" class="button alt">Learn More</a></li>
								</ul>
							</section>
							<hr />
							<section>
								<h3>Quick Links</h3>
								<ul class="alt">
									<li><a href="?technology=Docker">Docker</a></li>
									<li><a href="?technology=Kubernetes">Kubernetes</a></li>
									<li><a href="?technology=Java">Java</a></li>
									<li><a href="?technology=Python">Python</a></li>
									<li><a href="?technology=Spring">Spring  </a></li>
									<li><a href="?technology=Tensorflow">TensorFlow</a></li>
									<li><a href="?technology=Keras">Keras</a></li>
									<li><a href="?technology=R">R Programming</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</section>			
			
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<div class="row collapse-at-2">
								<div class="6u">
									<h3>Get to Know Us</h3>
									<ul class="alt">
										<li><a onclick="doLaunchCareer(event)" href="#">Careers</a></li>
										<li><a onclick="doLaunchTeach(event)" href="#">Teach wth TEKLRN</a></li>
										<li><a onclick="doLaunchPress(event)" href="#">Press Releases</a></li>
										<li><a onclick="doLaunchBusiness(event)" href="#">Business</a></li>
									</ul>
								</div>
								<div class="6u">
									<h3>Let Us Help You</h3>
									<ul class="alt">
										<li><a onclick="doLaunchHelp(event)" href="#">Help and Support</a></li>
										<li><a onclick="doLaunchTerm(event)" href="#">Terms</a></li>
										<li><a onclick="doLaunchRefund(event)" href="#">Refund Policies</a></li>
										<li><a onclick="doLaunchPrivacy(event)" href="#">Privacy policy and cookie policy</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="6u" id="cont">
							<h2>Teklrn Inc.</h2>
							<p>Ph: +1 437-220-7050, email: teklrn.inc@gmail.com, Headquarters Barrie, Ontario, Canada</p>
							
							<p><b>Akhil Vijayan</b><br>Founder, CEO and CTO at Teklrn Inc.	</p>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/teklrn/?modal=admin_todo_tour" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://www.linkedin.com/company/69842916" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
							</ul>
						</div>
					</div>
					<ul class="copyright">
						<li>Copyright &copy; 2020, TEKLRN Inc. or its affiliates. All Rights Reserved</li>
						<li>TEKLRN</a></li>
						<li>Technology Learning</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>