{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>The Worlds Largest Hub of Technology Learning -  Teklrn Inc.</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.76, maximum-scale=0.76, minimum-scale=0.76">
   
	<script src="{% static 'js/login.js' %}"></script>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'forms/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" onsubmit="trainerLogin(event)">
					<h4  style="text-align: center;color: black;">Account activation</h4> <br>
				
					<div style="text-align: center;"><img src="static/image/images/2.png" alt="TEKLRN" width="55" height="45"></div>
	
					
					<span class="login100-form-title p-b-48">
					</span>

					<div  style="font-size: xx-small;
					color: ghostwhite;
					font-style: italic;
					background: #629DD1; font-size: medium;" >
						<i>	** Account activation Email has been sent to you. Please click on the link in the email to activate your account **</i>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="email" name="email" value="{{ request.session.email }}" >
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass" required>
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit" >
								Login
							</button>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn"  onclick="backtolanding(event)"  type="submit" >
								Back
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Forgot password?
						</span>

						<a class="txt2" href="#" onclick="resetPasswordT(event)">
							Reset
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'forms/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'forms/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/js/main.js' %}"></script>

</body>
</html>