{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head> 
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3671375601838095"
    crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{technology_desc}}</title>
    <meta name="description" content="Latest Technologies - {{technology_desc}}"/> 
    <meta name="keywords" content="Technology, Learning, Latest, Science, Education, Quality" />
    <meta property="og:image" content="{{img}}" />
    <meta property="og:title" content="{{technology_desc}}">
    <meta property="og:description" content="{{technology_desc}}"> 
  
  <link async rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css" />  
  </head>
  <body style="background-color: white !important; box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);">
    <div class="loader"></div>  
    <p id="technology_view" hidden>{{technology}}</p>
    <p id="lvl_view" hidden>{{lvl}}</p>
    <p id="technology_contentType" hidden>{{contentType}}</p>
    <p id="Code" hidden>{{Code}}</p>
    <p id="img" hidden>{{img}}</p>
    <p id="pElement" hidden>{{pElement}}</p>   
    
    <main style="background-color: white !important; height: 100% !important; ">
      
      <nav style="padding-left: 0px !important;padding-right: 0px !important;padding-top: 1px !important;z-index:200; position: fixed; top: 0; width: 100%; background-color:white !important;" class="navbar navbar-expand-lg navbar-light bg-light">
        <div style="flex-direction: column;display: flex;" class="container-fluid">

            <div style="width: 100%;">
                
                
                <!-- <div style="padding-left: 0px !important;; width: 100% !important;" id="all_news">   
               
                    <ul id="ulNews" style="width: 100% ;background-color: black; padding-left: 0px; font-size: .3rem; float: left !important;    font-family: 'Poppins', sans-serif; color:white;">   </ul>
                </div> -->
            <a id="Current_c"></a>
            
            
            <p style="margin-bottom:0%!important; margin-top: .2% ;float: left;width:100%;"> <marquee id="marq"  style="text-transform: uppercase; background-color: #4976c8;padding-left: 6px !important; padding-bottom: 7px !important; font-size: .6rem !important;   font-family: 'Poppins', sans-serif; color:white !important; height: 30px !important;width: 100% !important; float: right !important;" scrollamount="4" loop="infinite"></marquee>
          
            <div style="padding-left: 10px !important;padding-right: 10px !important;">
                <div>
                    <div style="float: left;  width: 50%; margin-bottom: .2%;">
                            <div><img style="margin-top: 2%;" onclick="doLaunch(event)" src="/static/image/images/banner3.jpg" alt="TEKLRN" width="140" height="25"/>
                            </div>
                        
                    </div>
                    <div style="float: left; width: 50%; margin-top: 2%;"><input type="text" name="course-search" id="course-search" class="form-control" placeholder="&#xF002;" style="height: 32px !important;width: 100% !important;padding: .375rem .75rem !important;font-weight: bolder;font-weight: 900; font-family: 'Font Awesome 5 Free';color:#131312; font-size: 17px !important;"> 
                    </div>
          
                </div>                
            </div>
            </p>
            </div>
            
            <div style="padding-left: 10px !important;padding-right: 10px !important;width: 100%;">
            <a href="/financial" style="text-align: -webkit-center;/* margin-bottom: 20px; *//* padding-left: 10px; */font-weight: 400;/* width:100%; */ font-family: 'Poppins', sans-serif;padding: .5%; font-size: .7rem;">FINANCIAL</a>


            <a href="/media" style=" border-bottom-color: #507fce;text-align: -webkit-center;/* margin-bottom: 20px; *//* padding-left: 10px; */font-weight: 400;/* width:100%; */ font-size: .7rem;font-family: 'Poppins', sans-serif;color: #507acf; padding-right: 4px;">VIDEO</a>
            <a href="/news" style="text-align: -webkit-center;/* margin-bottom: 20px; *//* padding-left: 10px; */font-weight: 400;/* width:100%; */ font-size: .7rem;font-family: 'Poppins', sans-serif;color: #507acf;">NEWS</a>

            <a href="/worldnews" style="text-align: -webkit-center;/* margin-bottom: 20px; *//* padding-left: 10px; */font-weight: 400;/* width:100%; */ font-size: .7rem;font-family: 'Poppins', sans-serif;color: #507acf;">TRENDING</a>
            <a href="/technologynews" style=" border-bottom-color: #507fce;text-align: -webkit-center;/* margin-bottom: 20px; *//* padding-left: 10px; */font-weight: 400;/* width:100%; */ font-size: .7rem;font-family: 'Poppins', sans-serif;color: #507acf; padding-right: 4px;">TECHNOLOGY</a>
            <a href="/entertainmentnews" style=" border-bottom-color: #507fce;text-align: -webkit-center;/* margin-bottom: 20px; *//* padding-left: 10px; */font-weight: 400;/* width:100%; */ font-size: .7rem;font-family: 'Poppins', sans-serif;color: #507acf; padding-right: 4px;">ENTERTAINMENT</a>

       
        </div>
    </nav>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-right: 0px !important;margin-bottom: 0px !important;z-index: 111;position: fixed; width: 100%; top: 0; padding-left: 5%;padding-top: 0px; padding-bottom:0px !important;background-color: white !important;">
        
        <div>
          
          <div>
           
          </div>
             <a style="font-size: 1.0rem;font-family: Antietam;color: #629dd1; margin: 0px -20px -0px 0px;"><img src="/static/image/images/banner3.jpg" alt="TEKLRN" width="155" height="55">  </a>
             <h class="indigo fs-s3 italic after-arrow-right my-4" style="font-size: .7rem !important;     color: #5A4FCF !important; font-family: 'Muli', sans-serif !important;     font-style: italic;padding-left: 13px !important;"><h onclick="clickh('1','2')" data-toggle="modal" data-target="#exampleModalCenter" style="text-decoration: underline;">TMAIL </h>  <img width="25" height="15" style="margin-left: 15px; margin-right: 15px;" src="/static/image/images/29.jpg"> <h onclick="clickh('searchD-img-0Review. The best of TV and streaming this week','Review. The best of TV and streaming this week')" data-toggle="modal" data-target="#exampleModalCenter" style="text-decoration: underline;">TMS </h>   <img width="25" height="20" style="margin-left: 15px; margin-right: 15px;" src="/static/image/images/39.jpg"></h>
            </div>
   
          </nav>
    <img style="padding-top: 280px;margin-left: 10px;z-index: 311; width: 22px;  position: fixed;" onclick="history.back()" src="/static/image/images/back_b.png">
     
      <div style="padding-top: 0%;margin-top:10px;" style="padding: 1rem 0;" class="site-section">
        
        <div class="container">

       
        

          <div class="row justify-content-center">
            <div class="col-md-12" style="margin: 0px !important;">
              
              <div style="visibility: visible;" id="rowdata1" class="row"><div class="col-md-12" <p="" style="padding:0px; margin-top: 150px; pointer-events: none; object-fit: cover;"><img id="img-ins" src="{{img}}" style="pointer-events: none; object-fit: cover;" width="100%" height="120px" alt="Image" class="img-fluid"><p></p>        
                
                <!-- <div id="terms" class="MagicScroll" data-options="mode: cover-flow; height: 150px;" style="pointer-events:all; background-color:  white; width: 100%;">
                  <div onclick="clickFun('technologynews')" ><img style="border-radius: 10px;float: left;width: 250px; height: 150px;object-fit: cover;" src="https://i.pinimg.com/originals/36/e4/d0/36e4d0b856694fc471344b644a1dd6e4.gif" /></div>
                  <div onclick="clickFun('financial')" ><img style="border-radius: 10px;float: left;width: 250px; height: 150px;object-fit: cover;" src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbWloOWZmNmpna29ldjVpZ2lqYWhvbnp1cXBmZTg1bnZ4a21nNmxqYyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/JtBZm3Getg3dqxK0zP/giphy.gif" /></div>
                  <div onclick="clickFun('entertainmentnews')" ><img style="border-radius: 10px;float: left;width: 250px; height: 150px;object-fit: cover;" src="https://media.tenor.com/FHa4Ty3heo4AAAAM/taylor-swift-ts.gif" /></div>
                </div> -->
                <div id="mgc2" class="MagicScroll" data-options="mode: cover-flow; height: 95px;" style="background-color: white;pointer-events: all;">
                  <div class="mcs-item" data-item="0" style="width: 24.3716%; position: absolute; transform: translate3d(-451.95px, 0px, -350px) rotateX(0deg) rotateY(60deg); z-index: 31512;">
                     <div onclick="gotoTechnology('Carbon Capture Technology')" style="opacity: 1; visibility: visible;"></div>
                     <canvas width="312" height="52" class="mcs-reflection" style="opacity: 1; top: 175px; left: 0px; width: 312px; transition: opacity 1000ms ease 0s;"></canvas>
                  </div>
               </div>
                <div style="padding-left: 0px !important;padding-right: 0px !important;padding:10px;" class="d-flex post-entry"><div class="post-content"><div style="font-weight: 300 !important; font-family: 'Poppins', sans-serif; font-size: 16px !important;  color:black !important"><div id="title-ins" style="margin-left:3% !important;padding-top: 2% ;font-weight: 450 !important; font-family: 'Poppins', sans-serif; font-size: 14px !important;  color:black !important">{{technology}}</div>
             
         
              <p style="margin: 3% !important;font-size: x-small;">By Black and Blue, Teklrn Inc., Published on {% now "" %}  <a href="#scan_clicker" style="text-decoration: underline;font-style: italic;font-size: 11px;color: #5A4FCF;margin-left: 5px; pointer-events: all;">Related News </a></p>
            
              <p id="para-ins"            style="margin-left: 3% !important; color: #4d4c4c;font-size:13px !important;display: block;  line-height: 1.8em;"></p></div><hr><p style="font-size:13px;display: block; text-overflow: ellipsis;  word-wrap: break-word;  overflow: hidden;  max-height: 3.6em;  line-height: 1.8em;"></p><div class="post-meta"> </div><div class="post-meta"><span></span></div></div></div></div></div>
              <p id="para-ins-additional" style="margin-left: 3% !important; color: #4d4c4c;font-size:large !important;display: block;  line-height: 1.8em;"></p></div><hr><p style="font-size:13px;display: block; text-overflow: ellipsis;  word-wrap: break-word;  overflow: hidden;  max-height: 3.6em;  line-height: 1.8em;"></p><div class="post-meta"> </div><div class="post-meta"><span></span></div></div></div></div></div>

              
             <div style="padding-left: 5px !important;padding-right: 5px !important; padding-top: 5px !important; color: white !important; font-family: 'Muli', sans-serif !important;" >
              <div id="ads" style="margin-top: -230px; height: 230px;">
    
                </div>
              <ul class="tree">
                <li>
                  <input type="checkbox"  id="c1" />
                  <label  id="scan_clicker"  class="tree_label" for="c1"><img width="24" height="20" style="margin-left: 10px;margin-right: 10px;" src="/static/image/images/hie1.jpg"><h style="font-style: italic;font-size: 13px; color: #5A4FCF;"> SCAN</h></label>
                  <ul id="tree">
                     <li><span class="tree_label"><div class="col-md-6"><p style="pointer-events: none; object-fit: cover;"><img style="pointer-events: none; object-fit: cover;" src="/static/image/images/loading.gif" width="100%" height="30px" alt="Image" class="img-fluid"></p><div class="d-flex post-entry"><div class="post-content"><div style="text-transform: capitalize;font-weight: 300 !important; font-family: \'Poppins\', sans-serif; font-size: 16px !important;  color:black !important"><img src="/static/image/images/read_b.png" style="width: 20%;float: right;"></div><hr><p style="font-size:13px;display: block; text-overflow: ellipsis;  word-wrap: break-word;  overflow: hidden;  max-height: 3.6em;  line-height: 1.8em;"></p><div class="post-meta"> </div><div class="post-meta"></div></h4></div></div></div></span></li>
        
                  </ul>
       
                </li>

              </ul>
              </div>

              <div id="rowdata" class="row">
               
             
                 
                </div>
              </div>
            </div>
            
          </div>
        </div>

    </main>
    <section style="padding-left: 0px !important; padding-right: 0px !important;" class="p-0 md-p-5">
      <div id="initial"  class="flex flex-wrap">
    
      </div>
   
      <div id="searchD"  class="flex flex-wrap">
    
      </div>
  </section>
  <script  src="{% static 'new/js/jquery-1.11.1.js' %}"></script>
  <script  src="{% static 'new/js/jquery-1.12.1.js' %}"></script> 
  <link async  type="text/css" rel="stylesheet" href="{% static 'css/magicscroll.css' %}" media="screen"/>
  <script async type="text/javascript" src="{% static 'js/magicscroll.js' %}"></script>
  <script async src="{% static 'new/js/news.js' %}"></script>   
    <script async src="{% static 'new/js/kit.js' %}"></script> 
    <!-- <script async src="{% static 'js/modal/bootstrap.min.js' %}"></script>
    <script async src="{% static 'js/modal/main.js' %}"></script>     
    <script async src="{% static 'js/modal/popper.js' %}"></script> -->
    <!-- <link async rel="stylesheet" href="{% static 'css/modal/ionicons.min.css' %}"> -->
    <link async rel="stylesheet" href="{% static 'css/modal/style.css' %}">             
<link async rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css" />
<link async rel="stylesheet" href="{% static 'new/css/style.robo.css' %}" type="text/css" />
<link async rel="stylesheet" href="{% static 'new/css/style.pop.css' %}" type="text/css" />
<link async rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shorthandcss@1.1.1/dist/shorthand.min.css" />
 
 
  </body>
</html>