{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>The Worlds Largest Hub of Technology Learning -  Teklrn Inc.</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.76, maximum-scale=0.76, minimum-scale=0.76">
   	<script src="{% static 'js/login.js' %}"></script>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'forms/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" >
					{% csrf_token %}
					<h4 style="text-align: center;color: black;">Teklrn</h4> <br>
					<span class="login100-form-title p-b-26">
						
					</span>
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<span class="label-input100" style="font-family: Poppins-Regular;
						font-size: 15px;
						color: #555555;
						line-height: 1.2;
						display: block;
						width: 100%;
						height: 45px;
						background: transparent;
						padding: 0 5px;">{{form.email.label}}</span>
						
						<div style="overflow: visible; touch-action: manipulation; background-color: white;">{{form.email}}</div>
						<span class="focus-input100"></span>
					</div>
			
					
				<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit" >
								Reset
							</button>
							
						</div>
					</div>

					<div class="container-login100-form-btn">
					

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'forms/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'forms/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/js/main.js' %}"></script>

</body>
</html>