{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>TEKLRN</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>TEKLRN</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-layers.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
		<script src="{% static 'js/home.js' %}"></script>
		<noscript>
			<link rel="stylesheet" href="{% static 'css/skel.css' %}" type="text/css" />
			<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
			<link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}" type="text/css" />
		</noscript>	
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="#">TEKLRN</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="#cont">Contact</a></li>
						<li><a href="#one">About</a></li>
						<li><a href="#three">Refrences</a></li>
						<li><a href="#" id="launch" onclick="doLaunch(event)" class="button special">New Courses</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>TEKLRN</h2>
					<p>A technology learning platform</p>
					<ul class="actions">
						<li><a href="#content" id="launch1" onclick="doLaunch(event)" class="button big special">Get Started</a></li>
						<li><a href="#one" class="button big alt">Learn More</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<header class="major">
					<h2>Terms</h2>
					<p></p>
				</header>
			
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<div class="row collapse-at-2">
								<div class="6u">
									<h3>Get to Know Us</h3>
									<ul class="alt">
										<li><a onclick="doLaunchCareer(event)" href="#">Careers</a></li>
										<li><a onclick="doLaunchTeach(event)" href="#">Teach wth TEKLRN</a></li>
										<li><a onclick="doLaunchPress(event)" href="#">Press Releases</a></li>
										<li><a onclick="doLaunchBusiness(event)" href="#">Business</a></li>
									</ul>
								</div>
								<div class="6u">
									<h3>Let Us Help You</h3>
									<ul class="alt">
										<li><a onclick="doLaunchHelp(event)" href="#">Help and Support</a></li>
										<li><a onclick="doLaunchTerm(event)" href="#">Terms</a></li>
										<li><a onclick="doLaunchRefund(event)" href="#">Refund Policies</a></li>
										<li><a onclick="doLaunchPrivacy(event)" href="#">Privacy policy and cookie policy</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="6u" id="cont">
							<h2>Founder and CEO</h2>
							<p>Akhil Vijayan, Ph: +1 437-220-7050, email: akhil.vijayan@teklrn.com, Toronto, Ontario, Canada</p>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
							</ul>
						</div>
					</div>
					<ul class="copyright">
						<li>&copy; 2020, TEKLRN, Inc. or its affiliates.</li>
						<li>TEKLRN</a></li>
						<li>Technology Learning</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>