<div class="theoplayer-container video-js theoplayer-skin vjs-16-9" data-src="https://drive.google.com/uc?export=download&id=1HzrQMZwnHiPbfntXaEbt7XYpuE_FUeaf" data-poster="static/image/images/poster.jpg"></div>
<script>
  var element, player;

  function createPlayer() {
    element = document.querySelector('.theoplayer-container');
    player = new THEOplayer.Player(element, {
      libraryLocation: 'https://cdn.myth.theoplayer.com/55d71743-4924-4d1b-8440-78f9cd103879/'
    });
    player.preload = "auto";
  }

  function setSrc(src, poster) {
    if (!player) {
      createPlayer();
    }
    player.source = {
      "sources": {
        "src": src
      },
      "poster": poster
    }
  }
  window.addEventListener('theoplayerready', function() {
    if (!player) {
      createPlayer();
    }
  })
  document.addEventListener("DOMContentLoaded", function() {
    var players = [].slice.call(document.querySelectorAll(".theoplayer-container"));
    if ("IntersectionObserver" in window) {
      var playerObserver = new IntersectionObserver(function(entries, observer) {
        entries.forEach(function(container) {
          if (container.isIntersecting) {
            var src = container.target.dataset.src
            var poster = container.target.dataset.poster;
            if (!window.THEOplayer) {
              window.addEventListener('theoplayerready',
                function() {
                  setSrc(src, poster);
                })
            } else {
              setSrc(src, poster);
            }
            playerObserver.unobserve(container.target);
          }
        });
      });
      players.forEach(function(playerElement) {
        playerObserver.observe(playerElement);
      });
    }
  });
</script>
<script async src="https://cdn.myth.theoplayer.com/55d71743-4924-4d1b-8440-78f9cd103879/THEOplayer.js"></script>
<link rel="stylesheet" type="text/css" href='https://cdn.myth.theoplayer.com/55d71743-4924-4d1b-8440-78f9cd103879/ui.css'>

<!-- -->